.container {
  padding-top: 20px;
  width: 700px;
  display: block;
  margin: 0 auto;
  border-radius: 15px 15px 15px 15px;
}

#full-screen {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

#entire-2 {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

#entire-2-1 {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
  color: white;
}

#weather-map {
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: "Noto Serif", serif;
}

#local-city {
  font-family: "Noto Serif", serif;
}

.search {
  text-align: center;
}

#city-form {
  font-size: 20px;
  margin-top: 0px;
  align-items: center;
}

#button {
  font-size: 13px;
  padding: 8px 15px 8px 15px;
  align-items: center;
}

#current {
  font-size: 13px;
  padding: 8px 15px 8px 15px;
  align-items: center;
}

form {
  word-spacing: 25px;
}

h6 {
  color: white;
  line-height: 10px;
}

h5 {
  color: white;
  line-height: 10px;
}

h7 {
  color: white;
}

.weather {
  font-size: 45px;
  color: black;
  padding-top: 15px;
  font-family: "Noto Serif", serif;
  display: inline-block;
}

.col {
  line-height: 15px;
  color: white;
  margin-bottom: 0;
}

.temp-type {
  font-size: 15px;
  color: white;
  word-spacing: 20px;
  font-weight: bold;
}

.weatherType {
  text-transform: capitalize;
}

.original-temp {
  font-size: 15px;
}

.units {
  font-size: 12px;
}

.entire {
  display: block;
  margin: 0 auto;
}

.open-source-link {
  text-align: center;
}

#otherWeather {
  font-size: 12px;
}

#entire-2-1 {
  font-size: 14px;
}

#sunriseInfo {
  text-align: left;
  font-size: 20px;
  font-family: "Noto Serif", serif;
  color: black;
  margin-left: -125px;
  margin-top: 25px;
  border-radius: 5px;
}
